
.icon-link:before { content: '\e800'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */